services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

#    App\Domain\Task\Repository\TaskRepositoryInterface:
#        alias: App\Infrastructure\Task\Repository\DoctrineTaskRepository
